.allure/


### Бинарные и сгенерированные файлы ###
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar
*.so
*.dll
*.exe
*.o
*.a
*.lib
*.dylib

### Системные файлы ###
.DS_Store
Thumbs.db
*.swp
*.swo
*~
*.bak
*.tmp
*.orig

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
**/target/
!**/src/main/**/target/
!**/src/test/**/target/

### Gradle ###
build/
.gradle/
!gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IDE ###
# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.settings/
.apt_generated
.classpath
.factorypath
.project
.springBeans
.sts4-cache
bin/

# NetBeans
nbproject/
nbactions.xml
nb-configuration.xml

# VS Code
.vscode/
*.code-workspace

### Логи и отчеты ###
*.log
logs/
*.patch
*.rej

### Документация ###
**/javadoc/
**/apidocs/